h1{
    font-size: 70px;
}

@media only screen and (max-width: 600px){
    body{
        width: 100%;
        margin: auto;
    }

    .container{
        padding-top: 0px;
    }

    figure.item{
        width: 600px;
        height: 600px;
    }

}