body {
    font-family: Arial, sans-serif;
  }
.container {
    padding-top: 10px;
  }
.title {
    text-align: center;
    font-size: 60px;
  }
.text-box {
    width: 40%;
    border: 1px solid transparent;
    padding: 10px;
    padding-left: 10;
    font-size: 34px;
  }
.image-link {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
.image-link img {
    width: 100px;
    height: auto;
  }

  @media only screen and (max-width: 600px){
    body{
        width: 100%;
        margin: auto;
    }

    .container{
        padding-top: 0px;
    }

    figure.item{
        width: 600px;
        height: 600px;
    }

}