.image-container {
    position: absolute;
    left: 42%;
    top: 40%;
    width: 150px;
    height: auto;
  }
  
.image-container img {
    width: 200px;
    height: auto;
    opacity: 1;
    transition: opacity 5s ease;
  }
  
.image-container img.show {
    opacity: 0;
  }


  @media only screen and (max-width: 600px){
    body{
        width: 100%;
        margin: auto;
    }

    .container{
        padding-top: 0px;
    }

    figure.item{
        width: 600px;
        height: 600px;
    }

}